*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Open Sans', sans-serif;
}


/*	Start of Main Page CSS*/
.mainPage{
	height: 100vh;
	width: 100vw;
	display: flex;
	position: relative;
}

.mainPage > .mainLeft{
	background-color: #1D2E43;
	height: 100vh;
	width: 20vw;
	border-right: solid #8A734B;
}
.mainPage > .mainLeft > div {
	width: 32.5vw;
}

.mainPage > .mainLeft > div > h1{
	color: #8A734B;
	font-size: 15vh;
	margin-left: 3vh;
	border: solid;
}

	/*	Start of main-Images CSS*/
	.mainPage >.mainRight{
		position: relative;
		height: 100vh;
		width: 80vw;
	}


	.mainPage >.mainRight > #img{
		position: absolute;
		border: solid #565C62;
	}

	.mainPage >.mainRight > #img:hover{
		transition: scale(1:5);
		border: 1px solid;
	}

	.mainPage >.mainRight > .img1{
		height: 15vh;
		width: 20vw;
		top: 80vh; 
		left: 10vw;
	}
	.mainPage >.mainRight > .img2{
		height: 18vh;
		width: 15vw;
		top: 50vh; 
		left: 6vw;
	}
	.mainPage >.mainRight > .img3{
		height: 20vh;
		width: 15vw;
		top: 25vh; 
		left: 4vw;
	}

	.mainPage >.mainRight >.img4{
		height: 20vh;
		width: 15vw;
		top: 25vh; 
		left: 50vw;
	}
	.mainPage >.mainRight > .img5{
		height: 20vh;
		width: 15vw;
		top: 50vh; 
		left: 59vw;
	}
	.mainPage >.mainRight > .img6{
		height: 26vh;
		width: 15vw;
		top: 40vh; 
		left: 30vw;
	}
	.mainPage >.mainRight > .img7{
		height: 26vh;
		width: 15vw;
		top: 40vh; 
		left: 35vw;
	}
	.mainPage >.mainRight > .img8{
		height: 30vh;
		width: 15vw;
		top: 6vh;  
		left: 60vh
	}
	/*	End of main-Images CSS*/

/*	Start of Partners CSS*/
	
.mainPage > .mainLeft > .partners{
	border: solid green;
	height: 20vh;
	width: 15vw;
	margin: 5vw;

}
.mainPage > .mainLeft > .partners > ul{
	position: absolute;
	border: 1px solid yellow;
	top: 0;
}



/*	End of Partners CSS*/

/*	End of Main Page CSS*/

