*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Open Sans', sans-serif;
}

/*	Start of Landing Page CSS*/
.landingPage{
	height: 100vh;
	width: 100vw;
	background-color: #1D2E43;
}
.landingPage > hr{
	color: #273647;
}
.landingPage > .landingTop{
	display: flex;
	justify-content: center;
	align-items: center;
}

.landingPage > .landingTop > h1{
	font-size: 18vh;
	color: #8A734B;
}
.landingPage > .landingTop > div{
	position: relative;

}
.landingPage > .landingTop > div > .form{
	margin-left: 10vw;
}

.landingPage > .landingTop > div > .form > input{
	height: 5vh;
	border-radius: 3px;
	border: 2px solid #8A734B;
}

.landingPage > .landingTop > div > .btn{
	position: absolute;
	border: solid #8A734B;
	border-radius: 10vh;
	background-color: #8A734B;
	height: 6vh;
	text-decoration: none;
}

.landingPage > .landingTop > div > .btn > a{
	text-decoration: none;
	color: black;
}

.landingPage > .landingTop > div > .btn:hover{
	transition: scale(1:5);
	border: 1px solid;
}

.landingPage > .landingTop > div > .btn-new{
	width: 15vh;
	top: 6vh;
	left: 20vw;
}

.landingPage > .landingTop > div > .btn-log{
	width: 15vh;
	top: 6vh;
	left: 30vw;
}

.landingPage >.landPartners{
	position: relative;
	margin-top: 5vh;
	border: solid #8A734B;
	height: 60vh;
	width: 80vw;
	margin-left:10vw;
}

.landingPage >.landPartners > h2{
	color: #8A734B;
	display: flex;
	justify-content: center;
	align-items: center;
}

.landingPage >.landPartners > .landing-images > #img{
	position: absolute;
}

.landingPage >.landPartners > .landing-images > #img:hover{
	transition: scale(1:5);
	border: 1px solid;
}



.landingPage >.landPartners > .landing-images > .img1{
	height: 7vh;
	width: 10vw;
	left: 45vh;
}
.landingPage >.landPartners > .landing-images > .img2{
	height: 12vh;
	width: 8vw;
	left: 10vw;
}
.landingPage >.landPartners > .landing-images > .img3{
	height: 15vh;
	width: 8vw;
	bottom: 5vh;
	left:38vw;
}

.landingPage >.landPartners > .landing-images > .img4{
	height: 20vh;
	width: 10vw;
	top: 20vh;
	left:20vw;
}
.landingPage >.landPartners > .landing-images > .img5{
	height: 15vh;
	width: 10vw;
	top: 43vh;
	right:15vw;
}
.landingPage >.landPartners > .landing-images > .img6{
	height: 20vh;
	width: 20vw;
	top: 20vh;
	left: 50vw;
}
.landingPage >.landPartners > .landing-images > .img7{
	height: 10vh;
	width: 20vw;
	left: 47vw;
}
.landingPage >.landPartners > .landing-images > .img8{
	height: 30vh;
	width: 12vw;
	left: 34vw;
}

/*	End of Landing Page CSS*/


/*	Start of Responsiveness*/

	/* Iphone6/7/8 responsiveness*/
		/*	vertical-align: */

		@media only screen and (max-width: 415px) {







